body {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
  background-color: rgb(217, 223, 227);
}

.container {
  display: flex;
  min-height: 100vh; /* make the container fill the viewpoet height*/
  min-width: 100vh;
}

.bg-img-container {
  flex: 0 0 30%; /* Make it occupy 50% of the width */
  background-image: url("../images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-position: center;
}


.form-container {
  /* margin-left: 30%; */
  flex: 1; /* Make it occupy the remaining space */
  padding: 20px;
  
}

/* for the bg color */
.form-input {
    width: 100%;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

/* for name inputs */
.input-name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-name label {
  display: block;
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
}

.input-name input {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 5px 10px;
  flex: 1;
  min-width: 0;
}

/* input mail and number */
.input-mail-num {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-mail-num label {
  display: block;
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
}

.input-mail-num input {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 5px 10px;
  flex: 1;
  min-width: 0;
}

/* for password inputs*/
.input-pass {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-pass label {
  display: block;
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
}

.input-pass input {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 5px 10px;
  flex: 1;
  min-width: 0;
}

.checkbox {
  margin: 2rem 0;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
